.edit-form{
  max-width: 763px;
} 

.edit-input{
  color: rgba(0, 0, 0, 0.5) !important;
}

#account-profile-img{
  width: 90px !important;
  height: 90px !important;
  object-fit: cover;
}

#upload-id > input, #upload-image-icon-container > input
{
    display: none;
}

#id-box{
  background: #D9D9D9;
  height: 60px;
}

@media (max-width: 500px) {
  #account-profile-img{
    width: 60px !important;
    height: 60px !important;
  }

  #upload-image-icon{
    width: 30px;
  }
}