
nav{
    background-color: var(--primary-dark);
}


/*HEADER STYLES*/
/*FIRST SECTION STYLES*/

#section-a{
    background-color: var(--primary-dark);
    color: white;
}

#section-a h1{
    font-size: 36px;
    font-weight: 700;
    line-height: 140%; /* or 50px */
    color: rgba(255, 255, 255, 0.9);
}

@media (max-width: 500px){
    #section-a div:first-child{
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

    #txt-container{
        margin-right: 5px;
        margin-left: calc(var(--bs-gutter-x) * .5);
    }

    #section-a h1{
        font-size: 25px;
    }
}

#section-a button{
    width: 143px;
    height: 48px;

}


/*SECOND SECTION STYLES*/
#section-b{
    /* height: fit-content; */
    /* padding: 10rem 1px; */
}

#section-b h5{
    font-weight: 700;
    font-size: 20px;
    color: #000000cc;
}

#section-b p{
    font-weight: 400;
    font-size: 16px;
    font-style: light;
    text-align: center;
    color: #000000;
    line-height: -120px;
}

