.main {
    font-family: "Raleway";
    box-sizing: border-box;
    box-shadow: #0C0C0CF2;
}
.groupdata {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    font-family: "Raleway";
    flex-wrap:wrap;
}

.proname p {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
}

.wallet {
    max-width: 950px;
    background: #0C0C0CF2;
    border-radius: 10px;
    padding: 20px 50px;
}

.icon {
    width: 70px;
    height: 70px;
    background: white;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    motion-rotation: reverse;
    
}



.payway {
    justify-content: space-around;
    font-family: "Raleway";
}

.amount {
font-family: "Raleway";
font-size: 48px;
font-weight: 700;
line-height: 58px;
letter-spacing: 0em;
text-align: left;

}

.name {
    font-family: "Raleway";
font-size: 24px;
font-weight: 700;
line-height: 29px;
letter-spacing: 0em;
text-align: left;

}

@media screen and (max-width: 600px) {
   
    .propics-img {
        width: 60px;
        height: 60px;
        margin: 0 0 20px 20px;
    }
    .bell-img {
        width: 20px;
        height: 25px;
        margin-top: -20px;
    }
    .icon {
        width: 50px;
        height: 50px;
    }
    .payway  {
        
        font-size: xx-small;
    }
    .wallet {
        padding: 20px 20px;
    }

}