.pageBody {
  min-height: 100vh;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.95);
  image-rendering: crisp-edges;
  

}

.hero {
  height: 300px;
  background: url("../../images//Rectan.png");
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.spinner {
    animation: App-logo-spin infinite 20s linear;
}

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }