.pageBody {
  min-height: 100vh;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.95);
  image-rendering: crisp-edges;
  

}

.hero {
  height: 277px;
  background: url("../../images//Rectan.png");
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
}

.hero h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  width: 10em;
  word-spacing: 2px;
  top: 50%;
}

.formBox {
  padding: 60px 40px;
  align-items: flex-start;
  max-width: 1000px;
  margin: 0 auto;
}

.formBox div {
  display: block;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.formBox div input {
  border-radius: 6px;
  padding: 15px 5px;
}
.formBox span input {
  width: 100%;
}
.spinner {
    animation: App-logo-spin infinite 20s linear;
}

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }