footer{
    background-color: var(--primary-dark);
}


/*LINKS*/

footer{
    height: fit-content;
    line-height: 35px;
    color: white;
}


.f-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a.nav-link{
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 35px;
}

footer a.nav-link.active{
    font-weight: 700;
    font-size: 20px;
}

link:hover {
    color: white;
}

@media (max-width: 500px){
    footer a.nav-link.active{
        font-weight: 700;
        font-size: 18px;
    }

    footer a.nav-link{
        color: white;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
    }
}


#myModal {
    
        display: block; 
        position: fixed; 
        z-index: 1;
        left: 0;
        top: 0;
        width: 100vw; 
        height: 100vh; 
        overflow: scroll; 
        background-color: rgb(0,0,0); 
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        display: flex;
        justify-content: center;
        align-items: center;
        
     
}

#myModal div h1 {
    font-weight: .75em;
    color: black;
    font-size: small;
    
    
}

#myModal h2 {
    
    color: black;
    font-size: small;
}

#myModal p {
    
    color: black;
    font-size: small;
}

#myModal li {
    
    color: black;
    font-size: small;
}

#myModal .termspage{
    max-width: 900px;
    max-height: 100%;
    overscroll-behavior: none;
    
    border-radius: 100px;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: 0;
}

@media screen and (max-width: 920px) {
    #myModal .termspage {
        max-width: 80vw;
    }
    
}
