body{
    /* background: #1E1E1E; */
    background : #F5F5F5;
    height: 100vh;
}

#box-container h1{
    color: #262626F2 !important;
    font-weight: 700 !important;
    font-size: 30px !important;
    line-height: 48px !important;
}

#box-container{
    width: 600px; 
    max-width: 100%;
}

#form-container{
    background: #ffffff !important;
}

#box-container button{
    background: #0C0C0CD9;
}

#box-container h2, p{
    color: rgba(0, 0, 0, 0.6);
}


@media (min-width: 700px){
    #form-container{
        padding-top: 100px !important;
        padding-bottom: 100px !important;
    }   
}